@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,200;0,300;0,500;1,100&display=swap');

body {
  background: #333;
  color: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: 'Krona One', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  font-family: 'Krona One', sans-serif;
}

.navbar {
  border-bottom: 3px solid #d69f86;
  opacity: 0.8;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

#hero-section {
  background: url(../img/2.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  min-height: 700px;
}

#hero-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background-color: rgba(0, 0, 0, 0.3);
}

#hero-section .hero-inner {
  padding-top: 150px;
}

#hero-section .hero-card {
  background: #d69f86;
  color: #333;
}
